@import './assets/fonts/fonts.css';

body {
  font-family: 'Avenir Next', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: auto;
  overflow: visible;
  width: 100%;
}